<div>
  <div class="container">
    <div class="header">
      <h1 class="title">Get a Joke</h1>
      <div class="button">
        <button mat-raised-button color="primary" (click)="getData()">
          Fammi Ridere
        </button>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" (click)="showForm()">
          +
        </button>
      </div>
    </div>

    <mat-card class="joke" *ngIf="joke">
      <mat-card-header>
        <div
          [style.background-Image]="
            catUrl.concat(joke.id.toString().padStart(2, '0')).concat('\')')
          "
          mat-card-avatar
          class="example-header-image"
        ></div>
        <mat-card-title>{{ joke.title }}</mat-card-title>

        <mat-card-subtitle>{{joke.sentBy ??'Mister Cat'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>{{ joke.content }}</mat-card-content>

      <mat-card-actions>
        <button (click)="delete()" mat-button>CANCELLA</button>
        <button (click)="like()" mat-button><mat-icon
          [ngClass]="joke.like ? 'like' : 'not-like'"
          aria-hidden="false"
          aria-label="Example home icon"
        >thumb_up</mat-icon
        ></button>
      </mat-card-actions>
    </mat-card>

    <form
      *ngIf="formVisible"
      class="formAdd"
      [formGroup]="jokeForm"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <mat-card class="shipping-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Title" formControlName="title" />
                <mat-error
                  *ngIf="jokeForm.controls['title'].hasError('required')"
                >
                  Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Joke"
                  formControlName="content"
                ></textarea>
                <mat-error
                  *ngIf="jokeForm.controls['content'].hasError('required')"
                >
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="jokeForm.invalid"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Add
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
