<form [formGroup]="jokeForm" class="formAdd" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title" />
            <mat-error *ngIf="jokeForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Joke" formControlName="content"></textarea>
            <mat-error *ngIf="jokeForm.controls['content'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="jokeForm.invalid" mat-raised-button color="primary" type="submit">
        Add
      </button>
    </mat-card-actions>
  </mat-card>
</form>
