<mat-card class="joke" *ngIf="joke">
  <mat-card-header>
    <div
      [style.background-Image]="
            catUrl.concat(joke.id.toString().padStart(2, '0')).concat('\')')
          "
      mat-card-avatar
      class="example-header-image"
    ></div>
    <mat-card-title>{{ joke.title }}</mat-card-title>

    <mat-card-subtitle>Mister Cat</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>{{ joke.content }}</mat-card-content>

  <mat-card-actions>
    <button (click)="delete()" mat-button>CANCELLA</button>
    <button (click)="like()" mat-button><mat-icon
      [ngClass]="joke.like ? 'like' : 'not-like'"
      aria-hidden="false"
      aria-label="Example home icon"
    >thumb_up</mat-icon
    ></button>
  </mat-card-actions>
</mat-card>
